@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --primary-color: rgba(0, 128, 128, 0.6);
  --box-color: rgb(38, 202, 159);
}

* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: rgb(255, 255, 255);
  font-family: Nunito, sans-serif;
}

.btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.greenBox {
  display: flex;
  font-size: 0.9rem;
  width: 80px;
  height: 80px;
  background-color: var(--box-color);
  color: white;
  z-index: 10;
  align-items: center;
  justify-content: center;
}

nav {
  position: fixed;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: white;
  z-index: 100;
}

.logo-small-white {
  width: 3vw;
}

.navLeft {
  display: flex;
  padding-left: 6rem;
  align-items: center;
}

nav h1 {
  padding-left: 0.8rem;
  font-size: 1.2rem;
}

nav .pageOptions {
  display: flex;
  align-items: center;
  padding-right: 6rem;
}

nav ul li {
  padding: 0 1rem;
  text-decoration: none;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

section {
  height: 100vh;
  width: 100%;
}

#home {
  background: linear-gradient(to bottom, transparent, 70%, white),
    url("https://images.unsplash.com/photo-1545893835-abaa50cbe628?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1173&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

#home h1 {
  font-size: 3rem;
  color: rgb(3, 79, 3);
  margin-bottom: 0;
}

#home h3 {
  margin-top: 0;
}

#home p {
  margin-top: 0;
}

#home .container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20vw;
}

.chevronRight {
  width: 2vw;
  margin-left: 0.5vw;
}

.chevronDown {
  margin-top: 2vh;
}

.chevronUp {
  margin-top: 2vh;
  width: 26px;
}

#more {
  display: none;
}

#overflow {
  display: none;
  height: 60vh;
  background-color: rgb(255, 254, 254);
}

#section1 {
  background: url("https://images.unsplash.com/photo-1619441207978-3d326c46e2c9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1049&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* display: flex;
  justify-content: center; */
}

.carouselContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.carousel {
  width: 60vw;
  height: 70vh;
  bottom: 50px;
}

/* .carousel-cell {
  width: 33%;
  height: 95%;
  margin-right: 10px;
  background: #8c8;
  border-radius: 5px;
  counter-increment: gallery-cell;
} */

/* position dots up a bit */
.flickity-page-dots {
  bottom: -10vh;
}
/* dots are lines */
.flickity-page-dots .dot {
  height: 4px;
  width: 25%;
  margin: 0;
  background: white;
  border-radius: 5px;
}

.flickity-prev-next-button {
  display: none;
}

/* .slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
} */

.carousel-cell {
  width: 31%;
  height: 97%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  text-align: left;
  margin: 0 1vw;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 0.9rem;
  border: 20px solid rgba(0, 0, 0, 0);
  box-shadow: inset 0px 0px 0px 1px grey;
}

.carousel-cell h2 {
  font-size: 1.9rem;
  margin: 2px 0 5px 0;
}

.carousel-cell ul {
  padding-left: 25px;
  list-style-image: url("https://img.icons8.com/color/16/4a90e2/blur.png");
}

.carousel-cell ul li {
  padding: 10px 0;
}

/* .slides::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
.slides::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 60vw;
  height: 60vh;
  margin-right: 50px;
  margin-bottom: 100px;
  margin-top: 60px;
  border-radius: 10px;
  /* background: #eee; */
/* transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem; */
/* } */

.numberBox {
  position: relative;
  top: 88%;
  right: 5.5%;
}

#section2 {
  background: url("https://images.unsplash.com/photo-1494500764479-0c8f2919a3d8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.whiteBox {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.8);
  align-items: flex-end;
  justify-content: flex-end;
}

.whiteBox h1 {
  width: 5vw;
  font-size: 2rem;
  line-height: 1.1;
}

.whiteBox .text {
  padding: 40px 60px;
}

.whiteBox p {
  font-size: 0.9rem;
}

.whiteBox hr {
  background-color: black;
  height: 3px;
  width: 20vw;
  border: none;
  text-align: left;
  margin: 20px 0;
}

.whiteBox .btn {
  padding-left: 0;
}

.section2Buttons {
  display: flex;
  width: 165px;
  justify-content: space-between;
}

.section2Buttons .left {
  cursor: pointer;
}

.section2Buttons .right {
  cursor: pointer;
}

.left :hover,
.right :hover {
  transform: scale(1.4);
  transition-duration: 1s;
}

footer {
  height: 20vh;
  display: flex;
  justify-content: center;
}

.footerContainer {
  width: 70vw;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-small-black {
  width: 4vw;
}

.logo-full-black {
  width: 12vw;
}

.rightFooter {
  height: 14vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.leftFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.7rem;
}

.leftFooter p {
  margin-top: 5px;
}

.accessPrivacyFooter {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.accessPrivacyFooter a {
  margin: 0 5px;
  text-decoration: none;
  font-size: 0.8rem;
  color: black;
}

.accessPrivacyFooter p {
  margin: 0 10px;
}

.backToTop {
  margin-left: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.backToTop :hover {
  transform: scale(1.4) translate(0px, -5px);
  transition-duration: 1s;
}
